:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100svw;
  height: 100svh;

  margin: 0;

  overflow: hidden;
  overflow-y: scroll;
}

#app {
  margin: 0;
  
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #eee;
  }
}
